#make sure you have installed couchbase's python SDK as well

Flask==0.10.1
Werkzeug==0.9.6
peewee==2.3.1
python-dateutil==1.5
pytz==2012c
requests==2.4.1
virtualenv==1.7.1.2
couchbase==1.2.5
#reportbug==6.4.4
#wsgiref==0.1.2
